_site
.DS_Store
.jekyll
.jekyll-metadata
.bundle
.sass-cache
Gemfile
Gemfile.lock
node_modules
package.json

_posts/2016-09-22-OlyO-transcriptome.md

_posts/2016-09-22-Oly-fasta.html

jupyter/Ssalar/data/GCF_000233375.1_ICSASG_v2_protein.faa.gz

jupyter/Ssalar/data/GCF_000233375.1_ICSASG_v2_rna.fna.gz

jupyter/Ssalar/data/GCF_000233375.1_ICSASG_v2_rna.fna

jupyter/Ssalar/GCF_000233375.1_ICSASG_v2_protein.faa

jupyter/Ssalar/GCF_000233375.1_ICSASG_v2_protein.faa.gz

jupyter/Ssalar/GCF_000233375.1_ICSASG_v2_rna.fna.gz

jupyter/Ssalar/GCF_000233375.1_ICSASG_v2_rna.fna

jupyter/Ssalar/data/GCF_000233375.1_ICSASG_v2_protein.faa

jupyter/Ssalar/data/GCF_000233375.1_ICSASG_v2_protein.faa.gz

jupyter/Ssalar/GCF_000233375.1_ICSASG_v2_genomic.gff.gz
